.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 15%;
} 

/* Contact Socials */

.contact__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
}

.contact_option {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    transition: var(--transition)
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__icon  {
    width: 35px;
    height: 10%;
    margin-bottom: 10px;
}

/* Form  */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}

 .contact__buttons {
    display: flex row;
    gap: 1.2rem;
}

.contact__button {
    margin-left: 15px;
    justify-content: space-between;
}