header {
    height: 100vh;
    padding-top: 7em;
    overflow: hidden; 
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    background-color: var(--color-primary-variant);
    background:url(/src/assets/bg4.jpg);
    border-radius: 20px;
}

h3 {
    font-family: var(--primary-font);
    font-size: 2em;
}

h5 {
    font-size: 1.3em;
}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    
}

 .header_icon {
    text-align: center;
    background: none;
    vertical-align: middle; 
    font-size: 1.5rem;
}

 .btn {
    display: flex;
    justify-content: center;
 }

/* Socials */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    background-color: rgba(9, 9, 9, 0.524);
    border-radius: 20px;
}

.header__socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
    
}

/* Woman CTA AI Image */
.AI__Image {
    background: linear-gradient(var(--color-primary), transparent);
    width: 23rem;
    height: 23rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top:4rem;
    border-radius: 5rem 5rem 0 0;
    overflow: hidden;
    
}

/* scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;
    background-color: rgba(9, 9, 9, 0.524);
    border-radius: 20px;
}


/* ==== Medium Media Quearies ====*/

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

   
    

    
}

/* ==== Small Media Quearies ====*/

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }
}