
.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    background-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;

}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}


/* ==== Medium Media Quearies ====*/

/* @media screen and (max-width: 1024px) {
 


} */

/* ==== Small Media Quearies ====*/

/* @media screen and (max-width: 600px) {

  
} */